/* Project Name: Layout_Challenge
Author: Esmeralda Hoscoy
Front End Developer @GA in NYC */

div {
	background-color: gray; 
	clear: left; 
	float: left; 
	height: 50px; 
	margin: 5px 0; 
	width: 100%;
}


/*Nav Section*/

.block1 {
  height: 100px; 
  width: 20%;
  clear: left;
}

.block2 {
  clear: none;
  height: 50px;
  margin-left: 2%;
  margin-right: 1%;
  margin-top: 25px;
  width: 10%;
}

.block3 {
  height: 50px; 
  width: 10%;
  clear: none;
  margin-right: 2%;
  margin-top: 25px;
}

.block4 {
  height: 50px; 
  width: 15%;
  clear: none;
  margin-right: 1%;
  margin-top: 25px;
}

.block5 {
  height: 50px; 
  width: 15%;
  clear: none;
  margin-right: 1%;
  margin-top: 25px;
}

.block6 {
  height: 50px; 
  width: 15%;
  clear: none;
  margin-top: 25px;
  float: left;
}

/*Weird left block*/

.block7 { 
  height: 320px; 
  width: 20%;
  clear: left;
  margin-right: 2%;
}

.container {
  background: none; 
  clear: none; 
  height: auto; 
  float: left; 
  width: 78%
}

/*I want to nest this element*/

.blocka {
  clear: left;
  height: 100px;
  width: 75%;
}

.blockb {
  clear: left;
  height: 100px;
  width: 50%; 
}

.blockc {
  float: left;
  clear: none;
  height: 100px;
  width: 20%; 
  margin-left: 5%;
}

.blockd {
  height: 100px;
  width: 13%; 
  margin-right: 5.5%;
}

.blocke {
  height: 100px;
  width: 13%; 
  margin-right: 5.5%;
  clear: none;
   float: left;
}

.blockf {
  height: 100px;
  width: 13%;
  clear: none;
  float: left;
}

.blockg {
  height: 100px;
  width: 20%;
  clear: none;
  float: left;
  margin-left: 5%;
}

.bottom{
  margin-top: 10px;

}